:root {
    --bg-color: #deedf5;
    --h1-color: darkblue;
    --h2-color: rgb(30% 20% 50%);
    --h3-color: hsl(250 30% 60%);
    --subtitle-color: color-mix(in lch, blue, green);
    --footer-color: color(srgb 0.5 0.2 0.8 / 0.5);
}

* {
    background-color: var(--bg-color);
    text-align: start;
}

body {
    display: inline-block;
}

h1 {
    position: static;
    color: var(--h1-color);
    margin-top: 5vh;
    margin-bottom: 2pt;
    margin-left: 30vw;
    margin-right: 30vw;
    padding-top: 0;
    padding-bottom: 5mm;
    padding-left: 0;
    padding-right: 0;
}

#subtitle {
    color: var(--subtitle-color);
    margin: auto;
    padding: 0.5em 40vw 0.5rem 40vw;
    border-style: solid;
    border-color: var(--subtitle-color);
    border-width: 1px;
    border-radius: 10% / 40%;
    display: block;
}

h2 {
    color: var(--h2-color);
}

h3 {
    color: var(--h3-color);
}

#video {
    max-height: 5in;
    max-width: 5in;
}

#image {
    height: 200px;
    width: 200px;
}

footer {
    color: var(--footer-color, black);
    margin: 1em 0 1em 0;
    position: sticky;
    bottom: 1px;
}